/* DONATION STYLES */

.neon-border {
    border: 2px solid var(--primary-neon);
    border-radius: 21px;
    box-shadow: 0 0 3px var(--primary-neon), 0 0 7px var(--primary-neon),0 0 21px var(--primary-neon), 0 0 42px var(--primary-neon);
    animation: neon-text-pulse 2s infinite alternate;
}

.iframe-container {
    width: 100%;
    max-width: 370px;
    height: 1029px;
    border-radius: 21px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
