/* FAQ STYLES */

/* Arrow button styles */
.arrow-button {
    background-color: var(--secondary-bg);
    border: 1px solid #333333;
    color: var(--primary-neon);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 5px rgba(242, 210, 0, 0.1);
}

.arrow-button:hover {
    background-color: var(--primary-neon);
    color: var(--background-color);
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(242, 210, 0, 0.6);
}

/* Interactive card styles (from FAQ page) */
.interactive-question-container {
    background-color: var(--secondary-bg);
    border: 1px solid var(--subtext-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 7px var(--primary-neon);
    animation: neon-border-pulse 3s ease-in-out infinite alternate;
}

/* Box for missions (from FAQ page) */
.under-construction-box {
    background-color: var(--secondary-bg);
    border: 2px solid var(--primary-neon);
    box-shadow: 0 0 15px rgba(242, 210, 0, 0.4);
    animation: neon-text-pulse 2.1s infinite alternate;
}


/* Tab button styles (from FAQ page) */
.tab-button {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
    position: relative;
}

.tab-button.active {
    color: var(--primary-neon);
    border-bottom: 3px solid var(--primary-neon);
    text-shadow: 0 0 5px var(--primary-neon);
}

.tab-button.active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-neon);
    box-shadow: 0 0 5px var(--primary-neon), 0 0 10px var(--primary-neon);
}